@use '../../style/colors' as *;
@use '../../style/style.scss' as *;

.crew {

    flex-wrap: wrap;

    @include for-size(medium) {
        height: 86.7vh;
        justify-content: center;
    }

    @include for-size(small) {
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-content: center;
    }

    & .crew__container__descriptions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 500px;
        position: relative;
        justify-content: center;
        margin-left: 0;

        @include for-size(medium) {
            align-items: center;
        }

        @include for-size(small) {
            width: 327px;
        }

        & .crew__title {
            font-size: 2rem;
            color: grey;
            line-height: 36px;
            margin-bottom: 15px;
            font-weight: 400;
            text-transform: uppercase;

            @include for-size(medium) {
                margin-top: 50px;
                font-size: 24px;
            }

            @include for-size(small) {
                font-size: 16px;
                margin: 30px 0 0 0;
            }

        }

        & .crew__name {
            font-size: 4rem;
            line-height: 64px;
            margin: 0;
            margin-bottom: 27px;
            text-transform: uppercase;

            @include for-size(medium) {
                font-size: 40px;
            }

            @include for-size(small) {
                font-size: 24px;
                margin: 0;
            }
        }

        & .crew__description {
            font-size: 1.125rem;
            line-height: 32px;
            width: 100%;
            max-width: 400px;

            @include for-size(medium) {
                text-align: center;
                font-size: 16px;
                margin: 0;
                width: 100%;
                max-width: 520px;
            }

            @include for-size(small) {
                font-size: 16px;
                min-width: 327px;
                margin: 0;
                height: 125px;
                color: $basic2;
                line-height: 25px;

            }
        }

        & .crew__button {
            display: flex;
            flex-direction: row;
            gap: 24px;

            @include for-size(small) {
                gap: 18px;
            }

            & .crew__circle {
                display: block;
                margin-top: 80px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                font-size: 30px;
                list-style: disc;
                cursor: pointer;
                background-color: grey;

                @include for-size(medium) {
                    margin: 30px 0;
                }

                @include for-size(small) {
                    width: 12px;
                    height: 12px;
                }

                &:hover {
                    background-color: white;
                }

            }
        }

    }


    & .crew__img {

        @include for-size(medium) {
            display: grid;
            place-content: center;
        }

        @include for-size(small) {

            width: 327px;

            &:after {
                content: "";
                width: 300px;
                border-bottom: 1px solid $line;
                position: absolute;
                transform: translate(15px,177px);
            
            }

        }


        img {
            width: auto;
            height: 620px;
            position: absolute;
            bottom: 0;
            transform: translateX(-75%);

            @include for-size(medium) {
                position: inherit;
                transform: inherit;
                height: 480px;

            }

            @include for-size(small) {
                height: 177px;
            }

        }

    }

}