@use '../../style/colors' as *;
@use '../../style/style.scss' as *;

.crew {

    & .crew__container__descriptions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 500px;
        position: relative;
        justify-content: center;
        margin-left: 0;

        @include for-size(medium) {
            align-items: center;
        }


        & .crew__title {
            font-size: 2rem;
            color: grey;
            line-height: 36px;
            margin-bottom: 15px;
            font-weight: 400;
            text-transform: uppercase;

            @include for-size(medium) {
                margin-top: 50px;
                font-size: 24px;
            }


        }

        & .crew__name {
            font-size: 4rem;
            line-height: 64px;
            margin: 0;
            margin-bottom: 27px;
            text-transform: uppercase;

            @include for-size(medium) {
                font-size: 40px;
            }

            @include for-size(small) {
                font-size: 24px;
            }
        }

        & .crew__description {
            font-size: 1.125rem;
            line-height: 32px;
            width: 100%;
            max-width: 400px;

            @include for-size(medium) {
                text-align: center;
                font-size: 16px;
                margin: 0;
                width: 100%;
                max-width: 520px;
            }

            @include for-size(small) {
                font-size: 15px;
                min-width: 327px;

            }

        }

        & .crew__button {
            display: flex;
            flex-direction: row;
            gap: 24px;

            & .crew__circle {
                display: block;
                margin-top: 80px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                font-size: 30px;
                list-style: disc;
                cursor: pointer;
                background-color: grey;

                @include for-size(medium) {

                    margin: 30px 0;
                }

                &:hover {
                    background-color: white;
                }

            }
        }

    }


    & .crew__img {

        img {
            width: auto;
            height: 620px;
            position: absolute;
            bottom: 0;
            transform: translateX(-75%);

            @include for-size(medium) {
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translateX(48%);
                height: 500px;

            }

            @include for-size(small) {
                bottom: 60%;
                height: 177px;
                transform: translateX(65%);

            }


        }


    }

}

section {
    @include for-size(medium) {
        height: inherit;
        justify-content: center;
    }

    @include for-size(small) {
        height: 75vh;
    }




}