@use '../../style/colors' as *;
@use '../../style/style.scss' as *;


.technology__section {

    display: flex;
    gap: 130px;
    margin-top: 60px;
    margin-left: 165px;
    align-items: center;

    @include for-size(medium) {
        flex-wrap: wrap-reverse;
        margin: inherit;
        gap: inherit;
        height: 82vh;
        align-content: center;
        gap: 60px;
        width: 100%;
        max-width: 100%;
        justify-content: center;
    }


    & .technology__descriptions {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        flex: 50%;

        @include for-size(medium) {
            flex-direction: column;
            width: 458px;
            height: 237px;
            text-align: center;
            gap: 44px;
        }
        
        @include for-size(small) {
            width: 327px;
            height: 220px;
            text-align: center;
            gap: 44px;
        }

        & .technology__buttons {

            @include for-size(medium) {
                display: flex;
                gap: 20px;
            }

            & a {

                text-decoration: none;
                color: white;

                @include for-size(medium) {
                    height: 30px;

                 }

                & span {

                    width: 80px;
                    height: 80px;
                    display: grid;
                    place-content: center;
                    border: 1px solid white;
                    border-radius: 50%;
                    font-size: 32px;
                    margin-bottom: 32px;
                    cursor: pointer;
                    transition: all 1s;

                    @include for-size(medium) {
                        width: 60px;
                        height: 60px;
                        font-size: 24px;
                    } 
                    
                    @include for-size(medium) {
                        width: 40px;
                        height: 40px;
                        font-size: 16px;
                    }

                    &:hover {
                        color: black;
                        background-color: white;
                    }
                }
            }

        }

        & .technology__description {

            width: 60%;

            @include for-size(small) {
                width: 327px;
                height: 220px;
            }

            & .technology__title {
                font-size: 56px;
                text-transform: uppercase;
                line-height: 64px;
                margin-top: 10px;
                margin-bottom: 15px;

                @include for-size(medium) {
                    font-size: 40px;
                    margin: inherit;
                }

                @include for-size(small) {
                   font-size: 24px;
                }

            }

            & .technology__descriptionGeneral {
                line-height: 32px;
                font-size: 22px;
                font-weight: 400;
                color: $basic2;

                @include for-size(medium) {
                    font-size: 20px;
                    line-height: 28px;
                    margin: 0px;
                }

                @include for-size(small) {
                    font-size: 17px;
                 }
            }

        }

    }

    & .technology__img {
        img {

            width: 100%;

            @include for-size(medium) {
                max-width: 100%;
                width: 768px;
            }

            @include for-size(small) {
                max-width: 100%;
                width: 374px;
            }
        }

    }

}

