@use '../../style/colors' as *;
@use '../../style/style.scss' as *;

body {
    background-image: url('../../assets/home/background-home-desktop.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;

    @include for-size(medium) {
        background-image: url('../../assets/home/background-home-tablet.jpg')
    }

    @include for-size(small) {
        background-image: url('../../assets/home/background-home-mobile.jpg');
    }


}

.home {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1rem;
    height: 80vh;
    align-items: flex-end;
    min-width: 375px;

    @include for-size(small) {
        height: 90vh;
    }

    & a {
        text-decoration: none;
    }

    & .home__description {
        width: 27.813rem;
        height: 24.063rem;
        color: $basic1;
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;

        @include for-size(small) {
            align-items: center;
        }


        & .home__title {
            font-size: 9.3759rem;
            margin: auto 0 10px;

            @include for-size(small) {
                font-size: 80px;
                letter-spacing: 10px;
            }

        }

        & .home__description2 {
            font-size: 1.125rem;
            color: $basic2;

            @include for-size(small) {
                font-size: 17px;
                margin: 30px;
                text-align: center;
            }
        }

    }


    & .home__button {
        border-radius: 50%;
        width: 274px;
        height: 274px;
        display: grid;
        place-content: center;
        background-color: $basic1;
        transition: 0.5s all;
        margin-bottom: 35%;

        @include for-size(medium) {
            margin: 0 50px;

        }

        @include for-size(small) {
            width: 200px;
            height: 200px;
        }

        &:hover {
            -webkit-box-shadow: 0px 0px 0px 81px rgba(151, 151, 151, 0.20);
            -moz-box-shadow: 0px 0px 0px 81px rgba(151, 151, 151, 0.20);
            box-shadow: 0px 0px 0px 81px rgba(151, 151, 151, 0.20);
            transition: 0.5s all;
        }

        & .home__button__description {
            font-size: 2rem;
            color: $basic3;

            @include for-size(small) {
                font-size: 1.8rem;
            }
        }


    }

}