@use '../../style/colors' as *;
@use '../../style/style.scss' as *;

.section__destination {
    display: flex;
    justify-content: space-evenly;
    height: 75vh;
    align-items: flex-end;
    color: $basic1;
    flex-wrap: wrap;

    @include for-size(medium) {
        height: 85vh;
        align-content: flex-end;
    }

    & .section__containerImg {
        img {
            flex: 50%;
            width: 100%;

            @include for-size(medium) {
                width: 300px;
                margin: 0 30px;
            }

            @include for-size(small) {
                width: 175px;
                margin-bottom: 20px;
            }
        }
    }

    & .section__containerInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 445px;
        height: 472px;


        @include for-size(medium) {
            align-items: center;
            width: 100%;
            max-width: 575px;
        }

        @include for-size(small) {
            width: 300px;
        }

        & .section__select {
            display: flex;
            width: 60%;
            gap: 20px;

            @include for-size(medium) {
                justify-content: center;
            }

            @include for-size(small) {
                width: 100%;
            }

            & .section__button {
                display: flex;
                flex-direction: column-reverse;
                height: 3px;
                cursor: pointer;
                border-radius: 10px;
                color: $basic2;
                text-decoration: none;
                font-size: 1.1rem;
                opacity: 0.5;
                background-color: $basic2;

            }

            & .section__button:hover {
                background-color: $basic1;
                opacity: 1;
            }
        }

        & .section__name {
            font-size: 100px;
            text-transform: uppercase;
            margin: 20px 0 0 0;

            @include for-size(small) {
                font-size: 56px;
                margin: 10px 0 0 0;
            }
        }

        & .section__description {
            font-size: 21px;
            line-height: 32px;
            color: $basic2;

            @include for-size(medium) {
                font-size: 20px;
                text-align: center;
            }

            @include for-size(small) {
                font-size: 18px;
                margin: 0;
            }
        }

        & .section__line {
            width: 100%;
            margin: 20px 0;
            border-color: rgba(255, 255, 255, 0.136);
        }

        & .section__containerKmDays {
            display: flex;
            align-items: flex-start;
            gap: 25%;

            @include for-size(medium) {
                align-items: center;
                width: 100%;
                justify-content: center;
                margin: 0;
            }

            @include for-size(small) {
                width: 300px;
                flex-direction: column;

            }

            & .section__Km {
                font-size: 28px;
                text-transform: uppercase;

                @include for-size(small) {
                    font-size: 24px;
                }
            }

            & .section__days {
                font-size: 28px;
                text-transform: uppercase;

                @include for-size(small) {
                    font-size: 20px;
                }

            }


        }

    }


}