.box{
    & .links{

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 60px;

        & .button{

            &:hover{
                transition: all 0.8s;
            }

        }

        & a{
            display: block;
            text-decoration: none;
            margin: 15px;
            font-weight: 800;
            color: white;
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 7px;
            
            &:hover{
                transition: all 0.5s;
            }

        }

    }
}